<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css">        
    </head>

<body>
    <div id="header">
        <h1>Find The Bus Near You</h1>
    </div>

<script>
getLocation();
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function displaystop(stopobj){
    var li = document.createElement('li');
    li.className = 'stop';
    document.getElementsByTagName('body')[0].appendChild(li);
    li.innerHTML = "Stop Name: "+stopobj.title;
    
    var ul = document.createElement('ul');
    ul.className = 'routelist';
    li.appendChild(ul);
    var routelist = stopobj.routeprelist
    for (var i=0, len=routelist.length; i < len; i++) {
        var innerli = document.createElement('li');
        ul.appendChild(innerli);
        displayroute(routelist[i],innerli)
    }
}

function displayroute(routeobj, li){
    var routetag = routeobj.routetag;
    li.className = 'route';
    li.innerHTML = 'Bus: '+routetag;

    var ul = document.createElement('ul');
    ul.className = 'directionlist';
    li.appendChild(ul);

    if(routeobj.hasdata==false){
        var innerli = document.createElement('li');
        ul.appendChild(innerli);
        innerli.innerHTML = "Current bus is not available."
        return;
    }
    var dirlist = routeobj.dirlist;
    for (var i=0, len=dirlist.length; i < len; i++) {
        var innerli = document.createElement('li');
        ul.appendChild(innerli);
        displaydir(dirlist[i], innerli);
    }
}


function displaydir(dir, div){
    var title = dir.title;
    div.className = 'direction';
    div.innerHTML = 'Direction: '+title;
    var innerdiv = document.createElement('div');
    div.appendChild(innerdiv);
    innerdiv.className = 'time';
    innerdiv.innerHTML = 'Coming in ';
    var timelist = dir.timelist;
    for(var i=0, len=timelist.length;i < len;i++){
        var min = timelist[i]/60;
        innerdiv.innerHTML = innerdiv.innerHTML+ Math.floor(min) +' ';
    }
    innerdiv.innerHTML += ' minutes';
}

function setPosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var url = 'http://departuretime.info/stop.js?lon='+longitude+'&lat='+latitude;

    $.getJSON(url, function(data){
        for (var i=0, len=data.length; i < len; i++) {
            displaystop(data[i])
        }
    })
      .fail(function(){
        console.log( "Can not get json data" );
    });
}
</script>

</body>
</html>
